@import '@assets/styles/variables/colors';

.contentEnter {
  opacity: 0;
  transform: scale(0.1);
}

.contentEnterActive {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
  transition-delay: 500ms;
}

.contentExit {
  opacity: 1;
  transform: scale(1);
}

.contentExitActive {
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 300ms, transform 300ms;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;

  & .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
  }

  & .content {
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 29px 36px 19px;
    background-color: #f8f8f8;
    z-index: 3;
  }
}

.sm {
  width: 400px;
}

.md {
  width: 640px;
}

.lg {
  width: 1000px;
}
