@import "../../utility/colors.scss";

.container {
  margin: 10px 0;
  border-bottom: 1px solid $light-gray;
  // margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 6fr repeat(6, 1fr);
  align-items: center;
  transition: all 0.3 ease;

  &:hover {
    transform: scale(1.01);
  }
}

.img {
  justify-content: center;
}

.file-date {
  grid-column-start: 5;
  text-align: center;
  justify-content: center;
}

.file-size {
  grid-column-start: 6;
  text-align: center;
  justify-content: center;
}

.file-download, .file-delete {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 5px 15px;
  width: 70px;
}

// .file-delete {
//   &.folder-icon {
//     grid-column-start: 7;
//     text-align: center;
//     justify-content: center;
//   }
// }