@import "../../utility/colors.scss";
@import '@assets/styles/variables/colors';

.container {
  margin: 10px 0;
  border-bottom: 1px solid $light-gray;
  // margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 6fr repeat(6, 1fr);
  align-items: center;
  transition: all 0.3 ease;

  &:hover {
    cursor: pointer;
    border-bottom: 2px solid #83aff7;
  }

  & .icon {
    color: $light-sweet-100;
  }
}

.img {
  justify-content: center;
}

.file-date {
  grid-column-start: 5;
  text-align: center;
  justify-content: center;
}

.file-size {
  grid-column-start: 6;
  text-align: center;
  justify-content: center;
}

.file-download, .file-delete {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 5px 15px;
  margin-bottom: 10px;
  & .icon, & .folder_icon {
    color: $light-sweet-100;
  }
  
}

.container-plate {
  width: 150px;
  height: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .icon {
    color: $light-sweet-100;
  }

  & .file-name  {
    &.plate {
      max-width: 150px;
    }
  }
}