// TODO поменять цвета
@import '@assets/styles/variables/text-style';
@import '@assets/styles/variables/reset';
@import '@assets/styles/variables/colors';

.container {
  padding: 20px 40px 20px 20px;
  background: $primary-800;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .containerInputs {
    display: flex;
    flex-basis: 50%;
    padding: 0 50px;

    & .select-filter {
      width: 217px;
    }
  }

  & .containerLogo {
    display: flex;
    align-items: center;
    gap: 38px;
  }

  & .containerText {
    @include paragraph-15();
    display: flex;
    flex-direction: column;
    text-align: right;
    color: $white;

    & .span {
      @include paragraph-29();
      text-transform: uppercase;
    }
  }

  & .containerOptions {
    display: flex;
    align-items: center;
    gap: 20px;
    color: $white;

    & .icon {
      cursor: pointer;
      border: 1px solid transparent;
      padding: 6px;
      &:hover {
        border: 1px solid $white;
        padding: 6px;
        background: $light-sweet-100;
        border-radius: 13px;
      }
    }

    & .text {
      @include text();
      @include paragraph-22();
      text-transform: uppercase;
      padding: 15px 16px;
      border: 1px solid transparent;
      &:hover {
        background: $light-sweet-100;
        padding: 15px 16px;
        border-radius: 15px;
        border:1px solid $white;
        cursor: pointer;
      }
    }

    & .profile {
      @include text();
      @include paragraph-22();
      text-transform: uppercase;
    }

    & .btn {
      @include paragraph-22();
      text-transform: uppercase;
      padding: 15px 16px;
      border: 1px solid transparent;
      &:hover {
        background: $light-sweet-100;
        padding: 15px 16px;
        border-radius: 15px;
        border:1px solid $white;
        cursor: pointer;
      }
    }
  }
}


