@import '@assets/styles/variables/colors.scss';

.container {
  cursor: pointer;
  display: flex;
  margin-right: 30px;
  align-items: center;
  gap: 15px;
  .half-circle {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 11em;
    height: 100px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background: $light-sweet-100;
  }
  &:hover .half-circle {
    background: cadetblue;
  }
  .avatar {
    z-index: 2;
    background: url('../../assets/images/vlados.jpg');
    background-size: contain;
    border-radius: 50%;
    background-position: top center;
    width: 60px;
    height: 60px;
    border: 1px solid white;
  }
  & .information {
    z-index: 2;
    & .name {
      color: white;
      text-transform: none;
    }
    & .email {
      text-decoration: none;
      font-size: 13px;
      color: white;
    }
}
}


