@import '@assets/styles/variables/text-style';
@import '@assets/styles/variables/reset';
@import '@assets/styles/variables/colors';

:global {
  .popup-profile-content {
    right: 0;
    top: 100px !important;
    left: initial !important;
  }
}

.container {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 227px;
  .half-circle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 11em;
    height: 100px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background: $light-sweet-100;
  }
  &:hover .half-circle {
    background: cadetblue;
  }
  .avatar {
    z-index: 2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid $white;
  }
  & .information {
    z-index: 2;
    width: 160px;
    & .name {
      color: $white;
      text-transform: none;
    }
    & .email {
      text-decoration: none;
      font-size: 13px;
      color: $white;
    }
  }
}

.dropdown {
  background: $primary-800;
  border-radius: 0px 0px 12px 12px;
  min-width: 227px;

  & .contentMenu {
    padding: 8px 24px;
    display: flex;
    align-items: center;
    gap: 40px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &.last {
      border-radius: 0px 0px 12px 12px;
      justify-content: center;
      border-bottom: none;
      border-color: $white;
      margin-top: -1px;
    }

    &.active {
      background-color: $primary-500;
    }

    &.disabled {
      opacity: 0.6;
      cursor: not-allowed;
      pointer-events: none;
    }

    &:hover {
      background-color: $primary-500;
      border-color: $white;
    }

    & .iconMenu {
      color: $white;
    }

    & .menuItemText {
      @include text();
      @include paragraph-16();
      color: $white-80;
    }
  }
}
