@import '@assets/styles/variables/text-style';
@import '@assets/styles/variables/reset';
@import '@assets/styles/variables/colors';

.btn {
  @include button();
  @include paragraph-16();
  text-align: center;
  min-width: 145px;

  &.full {
    width: 100%;
  }

  & .container {
    padding: 7px 41px;
    border: 1px solid #004b75;
    border-radius: 7px;
    cursor: pointer;
    background-color: #004b75;

    & .content {
      & .spinner {
        display: flex;
        align-items: center;
        justify-content: center;

        & .loader {
          width: 18px;
          height: 18px;
          color: $white;
        }
      }
      & .contentText {
        display: flex;
        align-items: center;
        width: 100%;

        & .caption {
          color: $white;
          text-transform: uppercase;
          width: inherit;
        }
      }
    }
  }
}
