@import '@assets/styles/variables/text-style';
@import '@assets/styles/variables/reset';
@import '@assets/styles/variables/colors';

.btn {
  @include button();
  text-align: center;
  min-width: 145px;

  &.full {
    width: 100%;
  }

  & .container {
    padding: 7px 41px;
    border: 1px;
    border-radius: 7px;
    cursor: pointer;
    background-color: $primary-800;

    &.white {
      background-color: $white;
      border-color: $white;
      color: $light-sweet-100;
    }

    &.gray {
      background-color: #DEE1E6;
      border-color: #DEE1E6;
      color: #51459E;
    }

    &.blue {
      border-color: $primary-800;
      background-color: $primary-800;
      color: $white;
    }

    &.light-blue {
      border-color: $dark-blue-100;
      background-color: $light-sweet-100;
      color: $white;
    }

    & .content {
      display: flex;

      & .icon {
        margin-right: 20px;
      }
      & .spinner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        & .loader {
          width: 18px;
          height: 18px;
        }
      }
      & .contentText {
        display: flex;
        align-items: center;
        width: 100%;

        & .caption {
          width: inherit;

          &.upper {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
