.container {
  margin: 20px 0;
}

.container-plate {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}

.header {
  display: grid;
  grid-template-columns: 1fr 6fr repeat(6, 1fr);

  & .sort-name {
    grid-column-start: 2;
  }

  & .sort-date {
    grid-column-start: 5;
    justify-content: center;
    text-align: center;
  }

  & .sort-size {
    grid-column-start: 6;
    justify-content: center;
    text-align: center;
  }

  & .sort-delete {
    grid-column-start: 7;
    justify-content: center;
    text-align: center;
  }

  & .sort-download {
    grid-column-start: 8;
    justify-content: center;
    text-align: center;
  }
}
