@import '@assets/styles/variables/colors';
@import '@assets/styles/variables/text-style';
@import '@assets/styles/variables/reset';

// TODO поменять цвета 
.container {
  min-width: 365px;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #004b75;
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 22px 50px 28px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  & .title {
    @include text();
    @include paragraph-22();
    color: #053A89;
    text-transform: uppercase;
  }

  & .icon {
    margin-right: 10px;
  }

  & .btn {
    min-width: 145px;
    @include paragraph-16();
  }

  & .btn-link {
    @include paragraph-12();
  }
}