@import '@assets/styles/variables/colors';
@import '@assets/styles/variables/text-style';
@import '@assets/styles/variables/reset';

.container {
  min-height: 273px;
  width: 100%;
  position: relative;
  padding: 20px 10px;
  border-radius: 25px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;

  & .title {
    padding-left: 7px;
  }

  &:hover {
    background: rgba(45, 168, 240, 0.1);
    border-color: #DEE1E6;
  }

  & .title {
    @include text();
    @include paragraph-18();
    color: $dark-gray-100;
    margin-bottom: 24px;
    display: block;
  }

  & .content {
    display: flex;
    flex-direction: column;
    gap: 30px;;
  }
}
