@import '@assets/styles/variables/colors';
@import '@assets/styles/variables/text-style';
@import '@assets/styles/variables/reset';

.container {
  width: 100%;
  box-sizing: border-box;
  position: relative;

  & .open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  & .close {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  & .content {
    position: absolute;
    width: 100%;
    background: $white;
    bottom: -79px;
    box-sizing: border-box;
    height: 80px;
    border: 1px solid;
    border-top: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 5px 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}
