@import '@assets/styles/variables/colors';
@import '@assets/styles/variables/text-style';
@import '@assets/styles/variables/reset';

.page {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;

  & .header {
    position: relative;
    background: $primary-800;
    border-radius: 0px 0px 0px 197px;
    padding: 103px 0 110px 130px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 90px;

    & .text-block {
      max-width: 551px;

      & .title {
        @include text();
        @include heading-43();
        color: $white;
        margin-bottom: 26px;
      }

      & .text {
        @include text();
        @include paragraph-18();
        font-weight: 400;
        color: $white;
      }

      & .btn-container {
        @include paragraph-22();
        box-sizing: border-box;
        height: 61px;
        align-items: center;
        display: flex;
        border-radius: 34px;
        margin-left: 100px;
      }

      & .btn {
        margin-top: 60px;
      }
    }

    & .circle {
      position: absolute;
      width: 311px;
      height: 300px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.24);

      &.center {
        top: 74px;
        left: 400px;
      }

      &.bottom {
        height: 150px;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        right: -33px;
        bottom: 0px;
      }
    }
  }

  & .sign {
    position: relative;
    padding: 0 0 153px 176px;
    background-image: url('../../assets/images/bg-people-preview.png');
    background-repeat: no-repeat;
    background-position: 625px 146px;

    & .text-block {
      max-width: 547px;

      & .text {
        @include text();
        @include heading-46();
        color: $primary-800;
      }

      & .btn {
        @include paragraph-26();
        width: 255px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary-800;
        border: 1px solid #01293f;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        margin-top: 56px;
        color: #f2f2f2;
        margin-left: 177px;
        position: relative;
        z-index: 999;
      }
    }

    & .circle {
      position: absolute;
      width: 409px;
      height: 376px;
      background: $primary-800;
      opacity: 0.04;
      border-radius: 50%;
      top: 55px;
      left: 112px;
    }
  }

  & .feature {
    padding: 62px 67px 0 119px;
    position: relative;
    z-index: 9999;

    & .cards-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 9999;
    }

    & .bg {
      background: $primary-800;
      border-radius: 197px 0px 0px 0px;
      position: absolute;
      width: 100%;
      height: 287px;
      top: 0;
      left: 0;
      z-index: 1;
    }

    & .circle-bottom {
      position: absolute;
      background: $white;
      width: 425px;
      height: 190px;
      border-radius: 0 0 50% 50% / 0 0 100% 100%;
      right: 287px;
      top: 0;
      opacity: 0.5;
      z-index: 99;
    }
  }

  & .feedback {
    position: relative;
    z-index: 99999;
    padding-bottom: 100px;
    padding-top: 24px;
    background-image: url('../../assets/images/bg-feedback.png');
    background-repeat: no-repeat;
    background-position-x: 290px;
    background-position-y: 3px;

    & .title {
      @include text();
      @include heading-46();
      color: $primary-800;
      text-align: center;
    }

    & .email-block {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 27px;
      gap: 20px;
      border: 1px solid $light-sweet-100;
      border-radius: 7px;
      width: fit-content;
      padding: 11px 65px 11px 19px;

      & .icon {
        width: 40px;
        height: 40px;
        color: $dark-blue-100;
      }

      & .text {
        @include text();
        @include paragraph-33();
        text-decoration: none;
        color: $primary-800;
      }
    }
  }

  & .bg-header {
    background-image: url('../../assets/images/bg-preview.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 687px;
    height: 970px;
    top: 101px;
    right: 0;
    position: absolute;
  }

  & .circle-left-feature {
    position: absolute;
    width: 314px;
    height: 151px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    left: -82px;
    bottom: 210px;
    background: rgba(0, 75, 117, 0.05);
    transform: rotate(270deg);
    opacity: 0.5;
    z-index: 99;
  }

  & .circle {
    position: absolute;
    border-radius: 50%;
    width: 311px;
    height: 299px;
    bottom: 27px;
    right: 250px;
    background: rgba(0, 75, 117, 0.05);
  }
}
