@import '@assets/styles/variables/colors';

.page {
  width: 100%;
  margin-top: 22px;
  padding-right: 70px;
  padding-bottom: 66px;
  max-height: 718px;
  overflow-y: auto;
  overflow-x: hidden;

  & .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    justify-content: center;
    margin-top: 50px;

    @media (max-width: 1600px) {
      & { grid-template-columns: repeat(5, 1fr); }
    }
    @media (max-width: 1500px) {
      & { grid-template-columns: repeat(4, 1fr); }
    }
    @media (max-width: 1300px) {
      & { grid-template-columns: repeat(3, 1fr); }
    }
  }

  & .info-panel {
    margin-top: 66px;
  }
}