@import '@assets/styles/variables/colors';
@import '@assets/styles/variables/text-style';
@import '@assets/styles/variables/reset';

.toast-loading {
  padding: 6px 58px 13px 0;
  background: linear-gradient(180deg, #D28004 0%, #A47600 100%);
  border-radius: 30px;
  min-width: 300px;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  position: relative;

  & .content {
    display: flex;
    flex-direction: column;
    gap: 9px;
    min-width: 143px;
    margin-left: 108px;

    & .title {
      @include text();
      @include paragraph-30();
      font-family: 'Itim', sans-serif;
      color: $white;
    }

    & .text {
      @include text();
      @include paragraph-12();
      color: $white;
    }
  }

  & .container-icon-result {
    position: absolute;
    left: 28px;
    top: -15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #8C5F07 0%, #7C5405 100%);

    & .loader {
      width: 31px;
      height: 31px;
      color: $white;
    }
  }

  & .container-icon {
    position: absolute;
    left: 13px;
    bottom: -4px;

    & .icon {
      height: 52px;
      width: 49px;
      color: #7C5405;
    }
  }

  & .container-icon-close {
    position: absolute;
    cursor: pointer;
    right: 19px;

    & .icon {
      width: 30px;
      height: 30px;
      color: $white;
    }
  }
}