@import '@assets/styles/variables/colors';
@import '@assets/styles/variables/text-style';
@import '@assets/styles/variables/reset';

.toast-error {
  padding: 4px 17px 13px 0;
  background: linear-gradient(180deg, #E45E5E 0%, #C04C4C 100%);
  border-radius: 5px;
  display: flex;
  box-sizing: border-box;
  position: relative;

  & .content {
    display: flex;
    flex-direction: column;
    gap: 9px;
    max-width: 160px;
    margin-left: 75px;

    & .title {
      @include text();
      @include paragraph-16();
      font-family: 'Itim', sans-serif;
      color: $white;
      font-weight: 400;
    }

    & .text {
      @include text();
      @include paragraph-12();
      color: $white;
      font-weight: 400;
    }
  }

  & .container-icon-result {
    position: absolute;
    left: 28px;
    top: -15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #990000 0%, #8A0000 100%);

    & .icon {
      width: 13px;
      height: 18px;
      color: $white;
    }
  }

  & .container-icon {
    position: absolute;
    left: 13px;
    bottom: -4px;

    & .icon {
      height: 42px;
      width: 39px;
      color: #8B0000;
    }
  }

  & .container-icon-close {
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 5px;

    & .icon {
      width: 18px;
      height: 18px;
      color: $white;
    }
  }
}
