@import '@assets/styles/variables/text-style';
@import '@assets/styles/variables/reset';
@import '@assets/styles/variables/colors';

.localization {
  @include paragraph-22();
  color: $white;
  padding: 10px 15px;
  cursor: pointer;

  &:hover {
    padding: 10px 15px;
    background: $light-sweet-100;
    border-radius: 5px;
  }
}
.dropdown-language {
  position: absolute;
  background-color: $primary-800;
  display: flex;
  justify-content: center;
  top: 27px;
  left: -50px;
  border-radius: 0 0 15px 15px;
  & .dropdown-content-language {
    padding: 8px 12px;
    & .btn {
      min-width: auto;
      &:hover {
        background-color: #327bd1;
      }

      &:focus-within {
        background-color: red;
        border-color: transparent;
      }
    }
  }
}
