@import '@assets/styles/variables/text-style';
@import '@assets/styles/variables/reset';
@import '@assets/styles/variables/colors';

.localization {
  @include paragraph-22();
  color: white;
  padding: 10px 15px;
  cursor: pointer;

  &:hover {
    padding: 10px 15px;
    background: $light-sweet-100;
    border-radius: 5px;
  }
}
.dropdown-language {
  position: absolute;
  background-color: #004b75;
  display: flex;
  justify-content: center;
  top: 27px;
  left: -50px;
  width: 236px;
  height: 128px;
  border-radius: 0 0 15px 15px;
    & .dropdown-content-language .btn {
      @include paragraph-22();
      color: white;
      text-decoration: none;
      display: block;
      text-align: center;
      cursor: pointer;
    }
    & .dropdown-content {
      width: 100%;
    }
    & .dropdown-content-language .item {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid transparent;
      padding: 10px 15px;
      cursor: pointer;
    }
    & .dropdown-content-language .item:hover{
      background: $light-sweet-100;
      border-radius: 5px;
    }
    & .dropdown-content-language .item:hover > .btn > *{
      background: $light-sweet-100;
      border-radius: 5px;
    }
  }