@import '@assets/styles/variables/text-style';
@import '@assets/styles/variables/reset';
@import '@assets/styles/variables/colors';

.localization {
  @include paragraph-22();
  color: $white;
  padding: 10px 15px;
  cursor: pointer;

  &:hover {
    padding: 10px 15px;
    background: $light-sweet-100;
    border-radius: 5px;
  }
}

.dropdownLanguage {
  margin-top: 16px;
  background-color: $primary-800;
  padding: 8px 12px;
  border-radius: 0px 0px 7px 7px;

  & .contentMenu {
    display: flex;
    align-items: center;
    gap: 17px;
    padding: 8px 5px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    min-width: 118px;

    &.active {
      background-color: $light-sweet-100;
    }

    &:hover {
      background-color: $light-sweet-100;
    }

    & .menuItemText {
      @include text();
      @include paragraph-14();
      color: $white;
    }
  }
}
