@import '@assets/styles/variables/colors';
@import '@assets/styles/variables/text-style';
@import '@assets/styles/variables/reset';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 319px;
  margin-top: 20px;

  & .title {
    @include text();
    @include paragraph-18();
    color: $dark-gray-100;
    margin-bottom: 25px;
    margin-left: 3px;
  }

  & .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    flex: 1;
  }
}