@import "../../utility/colors.scss";

.container {
  margin-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  width: 100%;

  & .btns {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .upload {
    & .label {
      border: 2px solid $font-color;
      padding: 5px 10px;
      cursor: pointer;
    }

    & .input {
      display: none;
    }
  }
}
