@import "../../utility/colors.scss";

.container {
  margin-top: 20px;
  width: 100%;

  & .btns {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

    & .btns_left {
      display: flex;
      gap: 10px;
    }
    
    & .btns_right {
      display: flex;
      gap: 10px;

      & .icon {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: $light;
      }

      & .icon:hover {
        color: $light-gray;
      }
    }

    & .create {
      cursor: pointer;
      & > * {
        background:$light;
      }
    }

    & .upload {
      cursor: pointer;
      border-radius: 3px;
      & > * {
        border-radius: 6px;
      }
    }
  }

  .upload {
    & .label {
      border: 2px solid $font-color;
      padding: 5px 10px;
      cursor: pointer;
    }

    & .input {
      display: none;
    }
  }
}
