// TODO поменять цвета
@import '@assets/styles/variables/text-style';
@import '@assets/styles/variables/reset';
@import '@assets/styles/variables/colors';

.container {
  position: absolute;
  width: 100%;
  top: 100px;
  background-color: #004b75;
  max-width: 291px;
  z-index: 9;
  
  & .dropdown-content .btn-link {
    float: none;
    color: white;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  & .dropdown-content .item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
  }

  & .dropdown-content .item > .icon {
    display: flex;
    justify-content: flex-start;
  }

  & .dropdown-content .item:hover {
    background: $light-sweet-100;
    border: 1px solid white;
    border-left: none;
    border-right: none;
  }

  & .dropdown-content hr {
    margin: 0;
    padding: 0;
  }
}


