@import '../../utility/colors.scss';

.navBar {
  display: flex;
  height: 50px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 24px;
  font-weight: 300;
  color: $font-color;
}

.logo__title {
  text-transform: uppercase;
}

.login {
  color: $font-color!important;
}

.registration {
  color: $font-color!important;
}

.containerLogo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btns {
  display: flex;
  align-items: center;
  gap: 27px;
}