
@import '@assets/styles/variables/colors';

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: $color-main;
  height: auto;
  min-height: 100%;

  & .content {
    flex: 1 0 auto;
    display: flex;
    gap: 70px;

    // TODO заменить круг на верстку
    &.bg-profile {
      background: url('../../assets/images/profile-page-bg.png');
      background-repeat: no-repeat;
      background-position-x: 138px;
    }
  }

  & .footer {
    flex: 0 0 auto;
  }
}
