body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  & .content {
    flex: 1 0 auto;
    display: flex;
  }

  & .footer {
    flex: 0 0 auto;
  }
}
