@import '@assets/styles/variables/colors';
@import '@assets/styles/variables/text-style';
@import '@assets/styles/variables/reset';

.container {
  cursor: pointer;
  width: 100%;
  min-height: 224px;
  border: 2px dashed $light-sweet-100;
  border-radius: 12px;
  background: #dcecff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  & .icon {
    width: 72px;
    height: 68px;
    color: $light-blue-40;
    transition: color 0.3s ease;  
  }

  & .text {
    @include text();
    @include heading-40();
    text-transform: uppercase;
    color: $light-blue-40;
    transition: color 0.3s ease;
  }

  &:hover .icon, &:hover .text {
    color: $light-sweet-100;
  }
}
