$black: #000000;
$gray: #c0c0c0;;
$white: #FFFFFF;

$dark-gray-100: #505887;
$dark-gray-50: #718EBF;
$dark-gray-20: #eeeded;;

$light-sweet-100: #327BD1;
$light-blue-40: #AAD1FF;

$dark-blue-100: #01293F;

