$black: #000000;
$gray: #c0c0c0;
$white: #FFFFFF;

$white-80: #F2F2F2;

$dark-gray-100: #505887;
$dark-gray-50: #718EBF;
$dark-gray-20: #eeeded;

$light-sweet-100: #327BD1;
$light-blue-40: #AAD1FF;

$dark-blue-100: #01293F;

$color_folder_music: #F6F5FF;
$color_folder_documents: #F5FFFC;
$color_folder_films: #FFF9F0;
$color_folder_images: #FFF5F5;
$green-70: #59D58C;

$color-main: #F4FAFE;

$primary-50: #DAF7FF;
$primary-100: #B2E0FF;
$primary-200: #96C4F1;
$primary-300: #74A9DA;
$primary-400: #5D96CA;
$primary-500: #3F82B7;
$primary-600: #2D73A5;
$primary-700: #175F8C;
$primary-800: #004B75;
$primary-900: #00375B;



















