$black: #000000;
$gray: #c0c0c0;;
$white: #FFFFFF;

$dark-gray-100: #505887;
$dark-gray-50: #718EBF;
$dark-gray-20: #eeeded;;

$light-sweet-100: #327BD1;
$light-blue-40: #AAD1FF;

$dark-blue-100: #01293F;

$color_folder_music: #F6F5FF;
$color_folder_documents: #F5FFFC;
$color_folder_films: #FFF9F0;
$color_folder_images: #FFF5F5;