// @import 'size';
@import './font-family';
@import './colors';

@mixin heading-120 {
  font-family: $itim;
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 144px;
}

@mixin heading-46 {
  font-family: $itim;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 55px;
}

@mixin heading-43 {
  font-family: $itim;
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  line-height: 40px;
  letter-spacing: -0.02em;
}

@mixin heading-40 {
  font-family: $itim;
  font-style: normal;
  font-weight: 400;
  font-size: 40.99px;
  line-height: 49px;
}

@mixin heading-39 {
  font-family: $itim;
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 47px;
}

@mixin paragraph-36 {
  font-family: $itim;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
}

@mixin paragraph-33 {
  font-family: $itim;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
}

@mixin paragraph-30 {
  font-family: $DMSans;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

@mixin paragraph-29 {
  font-family: $DMSans;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 38px;
  color: $white;
}

@mixin paragraph-26 {
  font-family: $DMSans;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

@mixin paragraph-25 {
  font-family: $DMSans;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: $white;
}

@mixin paragraph-23 {
  font-family: $itim;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
}

@mixin paragraph-22 {
  font-family: $itim;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 23px;
  color: $white;
}

@mixin paragraph-21 {
  font-family: $itim;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
}

@mixin paragraph-19 {
  font-family: $itim;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
}

@mixin paragraph-18 {
  font-family: $itim;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

@mixin paragraph-16 {
  font-family: $itim;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@mixin paragraph-15 {
  font-family: $DMSans;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

@mixin paragraph-14 {
  font-family: $itim;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@mixin paragraph-13 {
  font-family: $itim;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

@mixin paragraph-12 {
  font-family: $itim;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

@mixin paragraph-10 {
  font-family: $itim;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}
